._idgenobjectattribute {
    height: auto;
    min-width: 0;
    width: 100%
    }
._idgenobjectlayout {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
._idgenobjectstyleoverride {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
._idgenobjectstyleoverride1 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 4.97%;
    position: relative;
    width: 15.21%
    }
._idgenobjectstyleoverride2 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 160.67%;
    position: relative;
    width: 90%
    }
._idgenobjectstyleoverride3 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 156.29%;
    position: relative;
    width: 88.29%
    }
._idgenobjectstyleoverride4 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 95.66%;
    position: relative;
    width: 79.14%
    }
._idgenobjectstyleoverride5 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 153.66%;
    position: relative;
    width: 82.85%
    }
._idgenobjectstyleoverride6 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 156.3%;
    position: relative;
    width: 100%
    }
._idgenobjectstyleoverride7 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 156.34%;
    position: relative;
    width: 90%
    }
._idgenobjectstyleoverride8 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 94.02%;
    position: relative;
    width: 72.85%
    }
.about-picture {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%
    }
.book-authors {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.book-tagline {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.book-title {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Segoe Semibold", sans-serif;
    font-size: 1.54839em;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: always;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.bull-list {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    color: #000;
    display: list-item;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 7px;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.calibre {
    -epub-hyphens: auto;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre2 {
    line-height: 1.2
    }
.calibre3 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre4 {
    display: table-column-group
    }
.calibre5 {
    display: table-column
    }
.calibre6 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre7 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre8 {
    display: block;
    font-size: 1.54839em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre9 {
    display: list-item
    }
.calibre10 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre11 {
    display: block;
    font-size: 1.29032em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.ch-number {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #a6a6a6;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 9px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: uppercase;
    widows: 1
    }
.ch-title--no-toc {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Segoe Semibold", sans-serif;
    font-size: 1.54839em;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 19px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.chapter-picture {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 33.23%
    }
.chapter-picture1 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 33.87%
    }
.chapter-picture2 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 31.73%
    }
.chapter-picture3 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 38.13%
    }
.chapter-picture4 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 66.23%
    }
.chapter-picture5 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 20.71%
    }
.chapter-picture6 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 29.36%
    }
.chapter-picture7 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 31.64%
    }
.chapter-picture8 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 37.93%
    }
.chapter-picture9 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 44.43%
    }
.chapter-picture10 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 38.27%
    }
.chapter-picture11 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 27.67%
    }
.chapter-picture12 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 23%
    }
.chapter-picture13 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 27.78%
    }
.chapter-picture14 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 56.94%
    }
.chapter-picture15 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 50.46%
    }
.chapter-picture16 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 19.9%
    }
.chapter-picture17 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 50%
    }
.chapter-picture18 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 53.3%
    }
.chapter-picture19 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 22.97%
    }
.chapter-picture20 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 35.76%
    }
.chapter-picture21 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 31.35%
    }
.chapter-picture22 {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 200px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 24.33%
    }
.charoverride {
    font-family: Segoe, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride1 {
    font-family: Segoe;
    font-size: 1.29167em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2
    }
.charoverride2 {
    font-family: Segoe;
    font-style: normal;
    font-weight: bold
    }
.charoverride3 {
    font-family: Segoe;
    font-style: italic;
    font-weight: normal
    }
.charoverride4 {
    font-family: Segoe;
    font-style: italic;
    font-weight: bold
    }
.charoverride5 {
    font-family: "Segoe Semibold";
    font-style: italic;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride6 {
    font-size: 0.625em;
    vertical-align: super
    }
.charoverride7 {
    font-family: "Segoe Semibold";
    font-size: 0.83333em;
    font-style: normal;
    font-weight: 600
    }
.charoverride8 {
    color: #000
    }
.charoverride9 {
    color: #000;
    font-family: Segoe;
    font-style: italic;
    font-weight: normal
    }
.charoverride10 {
    font-family: "Segoe Semibold";
    font-size: 1.29167em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2
    }
.charoverride11 {
    color: #000;
    font-size: 0.83333em
    }
.charoverride12 {
    color: #000;
    font-family: Segoe;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: normal
    }
.code-block-screened-head {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Segoe Semibold", sans-serif;
    font-size: 0.64516em;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 4px;
    margin-left: 36px;
    margin-right: 12px;
    margin-top: 20px;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.code-screenshot {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: calc(100% - 30px)
    }
.copyright {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.copyright1 {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 14px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.cover {
    background-color: transparent;
    border-bottom-color: #605e5c;
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-color: #605e5c;
    border-left-style: solid;
    border-left-width: 0;
    border-right-color: #605e5c;
    border-right-style: solid;
    border-right-width: 0;
    border-top-color: #605e5c;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%
    }
.download {
    -epub-hyphens: none;
    background-color: #e6e6e6;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 28px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 40px;
    orphans: 1;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.fig-graphic {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 12px;
    text-transform: none;
    widows: 1
    }
.fig-num {
    font-family: Segoe;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase
    }
.full-margin-text-frame {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.halftitle {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.heading {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Segoe Semibold", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 20px;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.heading1 {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    orphans: 99;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.heading2 {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    orphans: 99;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: always;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.hyperlink {
    color: #00f;
    text-decoration: underline
    }
.hyperlink1 {
    color: #00f;
    font-family: Segoe;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline
    }
.hyperlink2 {
    color: #00f;
    font-family: Segoe;
    font-style: italic;
    font-weight: normal;
    text-decoration: underline
    }
.list-paragraph {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    color: #000;
    display: list-item;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 7px;
    margin-left: 72px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.normal {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.normal--unindented {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 7px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.normal1 {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 7px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 12px;
    text-transform: none;
    widows: 1
    }
.normal2 {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 7px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 12px;
    text-transform: none;
    widows: 1
    }
.normal3 {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 12px;
    text-transform: none;
    widows: 1
    }
.num-caption {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.64516em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 0;
    orphans: 99;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.num-list {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    color: #000;
    display: list-item;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 7px;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.paraoverride {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.production {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.production1 {
    -epub-hyphens: none;
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.readeraid--only {
    -epub-text-align-last: left;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 18px;
    margin-left: 36px;
    margin-right: 12px;
    margin-top: 12px;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.screenshot {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 24px;
    margin-right: 0;
    margin-top: 25px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: calc(100% - 24px)
    }
.sqlbi {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
    min-width: 120px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 20.53%
    }
.table {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-spacing: 2px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table;
    margin-bottom: 9px;
    margin-left: 24px;
    margin-top: 9px;
    text-indent: 0
    }
.table-cell {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }
.table-screenshot {
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-left-style: solid;
    border-left-width: 0;
    border-right-style: solid;
    border-right-width: 0;
    border-top-style: solid;
    border-top-width: 0;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%
    }
.table1 {
    display: table-row;
    page-break-after: auto;
    page-break-before: auto;
    vertical-align: inherit
    }
.table2 {
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1px;
    display: table-cell;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    text-align: inherit;
    vertical-align: middle
    }
.under-picture {
    -epub-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: Segoe, sans-serif;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 7px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    orphans: 1;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
    widows: 1
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: Segoe;
    font-style: normal;
    font-weight: normal;
    src: url(OEBPS/font/Segoe.ttf)
    }
@font-face {
    font-family: Segoe;
    font-style: normal;
    font-weight: bold;
    src: url(OEBPS/font/Segoe-Bold.ttf)
    }
@font-face {
    font-family: Segoe;
    font-style: italic;
    font-weight: bold;
    src: url(OEBPS/font/Segoe-BoldItalic.ttf)
    }
@font-face {
    font-family: Segoe;
    font-style: oblique;
    font-weight: bold;
    src: url(OEBPS/font/Segoe-BoldItalic.ttf)
    }
@font-face {
    font-family: Segoe;
    font-style: italic;
    font-weight: normal;
    src: url(OEBPS/font/Segoe-Italic.ttf)
    }
@font-face {
    font-family: Segoe;
    font-style: oblique;
    font-weight: normal;
    src: url(OEBPS/font/Segoe-Italic.ttf)
    }
@font-face {
    font-family: "Segoe Semibold";
    font-style: normal;
    font-weight: 600;
    src: url(OEBPS/font/Segoe-Semibold.ttf)
    }
@font-face {
    font-family: "Segoe Semibold";
    font-style: italic;
    font-weight: 600;
    src: url(OEBPS/font/Segoe-SemiboldItalic.ttf)
    }
@font-face {
    font-family: "Segoe Semibold";
    font-style: oblique;
    font-weight: 600;
    src: url(OEBPS/font/Segoe-SemiboldItalic.ttf)
    }

